*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# === Unity ===
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Oo]bj/
*.csproj
*.unityproj
*.sln
*.userprefs
.vscode/