*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# === Unity ===
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
# Permitir toolchain IL2CPP exportado por Unity
!unityLibrary/src/main/Il2CppOutputProject/IL2CPP/**
!unityLibrary/src/main/Il2CppOutputProject/IL2CPP/build/**
!unityLibrary/src/main/Il2CppOutputProject/IL2CPP/build/deploy/**

[Oo]bj/
*.csproj
*.unityproj
*.sln
*.userprefs
.vscode/